.navbar
  display: block
  background-color: $bg-color
  &-block
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 13px
    padding-bottom: 8px
    &__phone
      display: flex
      align-items: center
      margin-right: 31px
    &__adress
      display: flex
      align-items: center
  &__phone,
  &__adress
    font-size: 15px
    font-weight: 400
    line-height: 19px
    color: $font-color
  &__phone
    text-decoration: none
    margin-left: 14px
  &__adress
    margin-left: 12px
  &__info
    display: flex
  &__login
    color: $dark-color
    font-size: 14px
    font-weight: bold
    line-height: 19px
    padding-right: 10px
    text-decoration: none
    border-right: 1px solid $border-color
  &__signup
    margin-left: 7px
    color: $dark-color
    font-size: 14px
    font-weight: bold
    line-height: 19px    
    text-decoration: none

@media (max-width: 768px)
  .navbar
    &-block &__phone
        font-size: 12px
    &-block  &__adress 
        font-size: 12px

@media (max-width: 570px)
  .navbar
    &-block
      &__phone
        margin-right: 12px
    &-block &__phone
        font-size: 10px
        margin-left: 4px
    &-block  &__adress 
        font-size: 10px
        margin-left: 5px
    &__login
      font-size: 10px
    &__signup
      font-size: 10px

@media (max-width: 430px)
  .navbar
    &__info
      display: flex
      flex-direction: column
    &-block
      &__phone
        img
          width: 11px
      &__adress
        img
          width: 9px
    &__phone
        font-size: 9px
    &-signup
      display: flex
      flex-direction: column
      align-items: center
    &__login
      border-right: none
      padding-right: 0
    &__signup
      margin-left: 0