.facts
  background-color: $facts-bg
  padding-top: 135px
  padding-bottom: 122px
  &-block
    display: flex
    justify-content: space-between
    align-items: center
    padding-left: 54px
    padding-right: 66px
  &-item
    display: flex
    flex-direction: column
    align-items: center
    &:nth-child(2)
      padding-left: 28px
    &:nth-child(3)
      padding-left: 30px
    &__image
      margin-bottom: 35px
    &__number
      display: block
      text-align: center
      font-size: 54px
      font-weight: 700
      line-height: 28px
      color: $facts-num
      margin-bottom: 20px
    &__text
      display: block
      text-align: center
      font-size: 20px
      font-weight: 400
      line-height: 28px
      color: $white-color

@media (max-width: 991px)
  .facts
    padding-top: 100px
    padding-bottom: 90px
    &-block
      flex-wrap: wrap
      margin: auto
      align-items: flex-start
      padding: 0
    &-item
      &:nth-child(3)
        padding-left: 0

@media (max-width: 768px)
  .facts
    padding-bottom: 0
    &-block
      padding: 0 110px
    &-item
      margin-bottom: 70px
      &:nth-child(2)
        padding-left: 0
      &__text
        font-size: 22px
  
@media (max-width: 570px)
  .facts
    &-block
      padding: 0
      flex-direction: column
      align-items: center

@media (max-width: 320px)
  .facts
    padding-top: 80px
    &-item
      margin-bottom: 50px
      &__image
        margin-bottom: 20px
      &__number
        font-size: 40px
        margin-bottom: 15px
      &__text
        font-size: 22px