.services
  background-color: $bg-color
  padding-top: 78px
  padding-bottom: 138px
  &-head
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 38px
    &__title
      margin-top: 0
      font-size: 41px
      font-weight: 700
      line-height: 46px
      color: $main-text
      position: relative
      &::after
        content: ''
        height: 3px
        width: 92px
        top: 66px
        background-color: $main-text
        left: 3px
        position: absolute 
        opacity: 0.09
  &-nav
    display: flex
    text-align: center
    margin-bottom: 28px
    margin-right: -22px
    &__item
      display: inline-block
      font-size: 14px
      font-weight: 700
      text-transform: uppercase
      color: $font-color
      padding: 12px 22px
      border-radius: 20px
      &:hover
        color: $white-color
        cursor: pointer
        background-color: $main-color
  &-content
    display: flex
    justify-content: space-between
  &-card
    display: flex
    flex-direction: column
    align-items: center
    box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.05)
    margin-left: 32px
    &:first-child
      margin-left: 0
    &:hover
      box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.08)
      .services-card__info
        background-color: $main-color
      .services-card__title
        color: $white-color
      .services-card__description
        color: $white-color
        &::after
          background-color: $bg-color
      .services-card__costtext
        color: $white-color
      .services-card__cost
        color: $white-color
    &__info
      background-color: $white-color
      padding: 39px 34px 38px
    &__title
      display: block
      font-size: 22px
      font-weight: 700
      line-height: 28px
      color: $main-color
      margin-bottom: 13px
      text-align: center
    &__description
      display: block
      font-size: 15px
      font-weight: 400
      line-height: 24px
      color: $font-color
      margin-bottom: 40px
      text-align: center
      position: relative
      &::after
        content: ''
        position: absolute
        height: 2px
        width: 53px
        top: 67px
        left: 75px
        background-color: $card-line
        opacity: 0.09
    &__costtext
      display: block
      font-size: 14px
      font-weight: 400
      color: $font-color
      text-align: center
    &__cost
      display: block
      font-size: 24px
      font-weight: 700
      line-height: 27px
      color: $main-color
      text-align: center


@media (max-width: 1260px)
  .services
    padding-bottom: 50px
    &-content
      flex-wrap: wrap
      max-width: 800px
      margin: 0 auto
    &-card
      margin-left: 0
      margin-bottom: 50px

@media (max-width: 991px)
  .services
    &-head
      &__title
        font-size: 35px
    &-nav
      margin-right: -15px
      &__item
        font-size: 12px
        padding: 12px 15px
        &:hover
          color: $font-color
          background-color: $bg-color
    &-card
      &:hover
        box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.05)
        .services-card__info
          background-color: $white-color
        .services-card__title
          color: $main-color
        .services-card__description
          color: $font-color
          &::after
            background-color: $card-line
        .services-card__costtext
          color: $font-color
        .services-card__cost
          color: $main-color

@media (max-width: 768px)
  .services
    &-content
      flex-direction: column
    &-card
      margin: auto
      margin-bottom: 30px
      &:first-child
        margin-left: auto
    &-nav
      display: none

@media (max-width: 320px)
  .services
    padding-top: 40px
    &-head
      &__title
        font-size: 25px
    &-card
      img
        max-width: 250px
      &__info
        padding: 20px 31px 25px
      &__title
        font-size: 20px
        margin-bottom: 15px
      &__description
        font-size: 13px
        margin-bottom: 30px
        line-height: 19px
        &::after
          top: 50px
          left: 66px
      &__costtext
        font-size: 13
      &__cost
        font-size: 20px
